name: "[PRE] Deploy EAS Local"
on:
  workflow_dispatch:
    inputs:
      buildApp:
        description: "Build app"
        required: true
        type: choice
        options:
          - "customer-android"
          - "driver-android"
          - "all-android"
      runOn:
        description: "Run on"
        required: true
        type: choice
        options:
          - "tadjaur"
          - "ubuntu-latest"

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

defaults:
  run:
    working-directory: frontends/customer-mobile

env: # Define a shared environment variable for android and ios build.
  EXPO_TOKEN: ${{ secrets.EXPO_TOKEN_PRE }}
  BUN_VERSION: 1.2.22

jobs:
  build-customer-android:
    runs-on: ${{ github.event.inputs.runOn || 'ubuntu-latest' }}
    if: ${{ github.event_name == 'workflow_dispatch' && (github.event.inputs.buildApp == 'customer-android' || github.event.inputs.buildApp == 'all-android') }}
    timeout-minutes: 60
    defaults:
      run:
        working-directory: frontends/customer-mobile

    # will be used in find_or_create_comment
    # and update_native_build_preview action
    env:
      build-name: Android APK
      comment-unique-magic-prefix: "<!-- customer_android_build_status -->"
      # comment-unique-magic-prefix: "<!-- customer_android_tadjaur_build_status -->"
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Find or create comment for build status
        if: github.event_name == 'pull_request'
        uses: ./.github/actions/find-or-create-comment
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Bun
        if: ${{ github.event.inputs.runOn != 'tadjaur' }}
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: ${{ env.BUN_VERSION }}
      - name: Setup EAS
        if: ${{ github.event.inputs.runOn != 'tadjaur' }}
        uses: expo/expo-github-action@v8
        with:
          eas-version: latest
          token: ${{ secrets.EXPO_TOKEN_PRE }}

      - name: Setup Java
        if: ${{ github.event.inputs.runOn != 'tadjaur' }}
        uses: actions/setup-java@v4
        with:
          java-version: "17"
          distribution: "temurin"

      - run: bun i --frozen-lockfile

      - name: Create .env file
        run: |
          echo "NODE_ENV=production" > .env
          echo "EXPO_PUBLIC_FIREBASE_CONFIG_JSON=${{ secrets.FIREBASE_CONFIG_JSON_PRE }}" >> .env
          echo "EXPO_PUBLIC_GOOGLE_MAPS_STYLE_ID=${{ secrets.GOOGLE_MAPS_STYLE_ID_PRE }}" >> .env
          echo "EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=${{ secrets.CUSTOMER_ANDROID_GOOGLE_MAPS_API_KEY_PRE }}" >> .env
          echo "EXPO_PUBLIC_GOOGLE_PLACE_API_KEY=${{ secrets.GOOGLE_PLACE_API_KEY_PRE }}" >> .env
          echo "EXPO_PUBLIC_PUBLIC_WEBAPP_URL=https://vimex-coursier-pre.web.app" >> .env
          echo "EXPO_PUBLIC_SERVER_API_ENDPOINT=https://vimex-coursier-pre.web.app/api" >> .env
          echo "EXPO_PUBLIC_APP_ENV=pre" >> .env
      - name: Generate google-services.json
        run: |
          echo '${{ secrets.GOOGLE_SERVICES_JSON_CUSTOMER_APP_PRE }}' > google-services.json
          cat google-services.json

      - name: Extract Web Client ID
        run: |
          EXPO_PUBLIC_APP_ENV=pre node ../../scripts/android-extract-web-client-id-from-google-service-json.js

      - name: Update environment variables
        shell: bash
        run: |
          bash ../../scripts/eas-env-sync.sh
        env:
          EAS_ENV: preview

      - name: Get Build Version
        shell: bash
        run: |
          MAJOR_MINOR_VERSIONS=$(jq -r '.expo.version' app.json)
          PATCH_VERSION=${{ github.run_number }}
          APP_VERSION="${MAJOR_MINOR_VERSIONS%.*}.$PATCH_VERSION"
          jq --arg version "$APP_VERSION" '.expo.version = $version' app.json > app.json.temp && mv app.json.temp app.json

      - name: Remove google-services.json line from .gitignore
        run: |
          sed -i '/google-services.json/d' .gitignore
      - name: Run Local Build for Android
        id: build
        run: |
          eas build --profile=pre --platform=android --local --non-interactive --verbose-logs
        env:
          NODE_ENV: production

      - name: Save apk
        run: |
          cp build-*.apk ../../../../latest-pre-customer-build.apk

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: customer-android-apk
          path: frontends/customer-mobile/build-*.apk
          retention-days: 1

      - name: Update build status
        if: always() && github.event_name == 'pull_request'
        uses: ./.github/actions/update-native-build-status
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          build-outcome: ${{ steps.build.outcome }}

  build-driver-android:
    runs-on: ${{ github.event.inputs.runOn || 'ubuntu-latest' }}
    if: ${{ github.event_name == 'workflow_dispatch' && (github.event.inputs.buildApp == 'driver-android' || github.event.inputs.buildApp == 'all-android') }}
    timeout-minutes: 60
    defaults:
      run:
        working-directory: frontends/driver-mobile

    # will be used in find_or_create_comment
    # and update_native_build_preview action
    env:
      build-name: Customer Android APK
      comment-unique-magic-prefix: "<!-- driver_android_build_status -->"

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Find or create comment for build status
        if: github.event_name == 'pull_request'
        uses: ./.github/actions/find-or-create-comment
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Bun
        if: ${{ github.event.inputs.runOn != 'tadjaur' }}
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: ${{ env.BUN_VERSION }}
      - name: Setup EAS
        if: ${{ github.event.inputs.runOn != 'tadjaur' }}
        uses: expo/expo-github-action@v8
        with:
          eas-version: latest
          token: ${{ secrets.EXPO_TOKEN_PRE }}

      - name: Setup Java
        if: ${{ github.event.inputs.runOn != 'tadjaur' }}
        uses: actions/setup-java@v4
        with:
          java-version: "17"
          distribution: "temurin"

      - run: bun i --frozen-lockfile

      - name: Create .env file
        run: |
          echo "NODE_ENV=production" > .env
          echo "EXPO_PUBLIC_FIREBASE_CONFIG_JSON=${{ secrets.FIREBASE_CONFIG_JSON_PRE }}" >> .env
          echo "EXPO_PUBLIC_GOOGLE_MAPS_STYLE_ID=${{ secrets.GOOGLE_MAPS_STYLE_ID_PRE }}" >> .env
          echo "EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=${{ secrets.DRIVER_ANDROID_GOOGLE_MAPS_API_KEY_PRE }}" >> .env
          echo "EXPO_PUBLIC_GOOGLE_PLACE_API_KEY=${{ secrets.GOOGLE_PLACE_API_KEY_PRE }}" >> .env
          echo "EXPO_PUBLIC_PUBLIC_WEBAPP_URL=https://vimex-coursier-pre.web.app" >> .env
          echo "EXPO_PUBLIC_SERVER_API_ENDPOINT=https://vimex-coursier-pre.web.app/api" >> .env
          echo "EXPO_PUBLIC_APP_ENV=pre" >> .env
      - name: Generate google-services.json
        run: |
          echo '${{ secrets.GOOGLE_SERVICES_JSON_DRIVER_APP_PRE }}' > google-services.json
          cat google-services.json

      - name: Extract Web Client ID
        run: |
          EXPO_PUBLIC_APP_ENV=pre node ../../scripts/android-extract-web-client-id-from-google-service-json.js

      - name: Update environment variables
        shell: bash
        run: bash ../../scripts/eas-env-sync.sh
        env:
          EAS_ENV: preview

      - name: Get Build Version
        shell: bash
        run: |
          MAJOR_MINOR_VERSIONS=$(jq -r '.expo.version' app.json)
          PATCH_VERSION=${{ github.run_number }}
          APP_VERSION="${MAJOR_MINOR_VERSIONS%.*}.$PATCH_VERSION"
          jq --arg version "$APP_VERSION" '.expo.version = $version' app.json > app.json.temp && mv app.json.temp app.json

      - name: Remove google-services.json line from .gitignore
        run: |
          sed -i '/google-services.json/d' .gitignore
      - name: Run Local Build for Android
        id: build
        run: |
          eas build --profile=pre --platform=android --local --non-interactive --verbose-logs
        env:
          NODE_ENV: production

      - name: Save apk
        run: |
          cp build-*.apk ../../../../latest-pre-driver-build.apk

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: driver-android-apk
          path: frontends/driver-mobile/build-*.apk

      - name: Update build status
        if: always() && github.event_name == 'pull_request'
        uses: ./.github/actions/update-native-build-status
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          build-outcome: ${{ steps.build.outcome }}
